@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/Raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
h3,
p {
    margin: 1.5rem 0;
}
.header-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    background-color: #000000;
    width: 100%;
    height: 75vh;
}
@media (min-width:1280px) {
    .header-box {
        background-position: 50%;
        height: 90vh;
    }
    .box-text h3 {
        font-size: 3rem;
    }
}

/* Main */

.random-events {
    margin: 1rem;
}
.random-event {
    list-style: none;
    margin: 3rem 1rem;
    overflow: hidden;
}
@media (min-width:1200px) {
    .random-events {
        display: flex;
        flex-direction: row;
    }
    .random-event {
        flex-grow: 1;
        max-width: 33%;
    }
}
.random-event:hover {
    cursor: pointer;
}
.box-text--random img {
    transition: ease all 0.3s;
    width: 100%;
}
.random-event img:hover {
    transform: scale(103%);  
}
.box-text--random {
    position: relative;
}
.box-text--main {
    line-height: 3rem;
    padding: 2rem 3rem 0;
}
.box-date--main {
    bottom: -0.8rem;
    left: 3rem;
    position: absolute;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    background-color: #000000;
}
.main-events,
.event {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
}
.box-image {
    overflow: hidden;
    position: relative;
}
.event {
    padding: 0 0 3rem 0;
}
.event:hover {
    cursor: pointer;
}
.event:hover > .box-image img {
    transform: scale(110%);
}
.event:hover > .box-text h3{
    text-decoration: underline;
}
.event img {
    width: 100%;
    transition: all ease 0.3s;
}
.event-date {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 2rem;
    position: absolute;
    background-color: #FFFFFF;
    bottom: 0;
}
@media (min-width:980px) {
    .event {
        display: flex;
    }
    .box-image {
        width: 100%;
        max-width: 40rem;
    }
    .box-text {
        padding: 0 5rem;
    }
    .event-date {
        font-size: 2.5rem;
        transform: rotate(270deg);
        bottom: calc(50% - 2rem);
        left: -3rem;
    }
}
.event-arrow {
    background-image: url(../media/all-icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 1.5rem;
    width: 100%;
}
.newsletter--main {
    color: #000000;
    padding: 1.5rem 2rem;
    border: 4px solid #000000;
    text-decoration: none;
    transition: ease background-color 0.3s;
}
.newsletter--main:hover {
    color: #FFFFFF;
    background-color: #000000;
}